main {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
}


main p:before {
    content: '< ';
    color: green;
}

main p:after {
    content: ' />';
}

main p {
    text-align: center;
    font-size: 50pt;
    font-weight: bold;
    color: white;
}

body {
    margin: 0;
    padding: 0;
    width: 960px;
    font-family: "Trebuchet MS", Arial, sans-serif;
    background: black url("../imagens/fundo.jpg") no-repeat fixed;
    background-size: 1400px;
}

nav.informacoes ul li a {
    text-decoration: none;
    color: white;
}
nav.informacoes ul li{
    float: right;
    list-style: none;
    margin-right: 135px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    margin-top: 10px;

}

nav.informacoes ul li a:hover {
    text-decoration: overline;
}

nav.informacoes ul li a:focus {
    text-decoration: overline;
    text-decoration-color: red;
}

aside {
    width: 200px;
    margin-left: 25px;
    /*background: chocolate;*/
    float: left;
    margin-top: 49px;
    border: solid 1px gray;
    border-radius: 20px;

}

aside img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 100px;
}


aside ul li {
    list-style: none;
    /*padding-left: 28px;*/
    line-height: 30px;
    background: white;
    margin-top: 5px;
    margin-right: 45px;
    border-radius: 10px;
    font-weight: bold;

    border-bottom: solid 4px;
    border-right: solid 4px;
}
aside ul li a {
    text-decoration: none;
    color: black;
}


aside div.descricao {
    padding-left: 30px;
    color: white;
}

aside ul li a.projetos {
    padding-left: 36px;
    background: url("../imagens/backpack.gif") no-repeat 10px;
    background-size: 25px;
}

aside ul li a.educacao {
    padding-left: 35px;
    background: url("../imagens/book.gif") no-repeat 12px;
    background-size: 20px;
}

aside ul li a.contato {
    padding-left: 35px;
    background: url("../imagens/paper.gif") no-repeat 6px;
}

aside ul li a:hover {
    color: white;
}

aside ul li:hover {
    background: darkslateblue;
    border: solid 1px white;

    border-bottom: solid 4px;
    border-right: solid 4px;
}

aside ul li a:focus {
    color: gray;
}



div.apresentacoes{
    padding-bottom: 5px;
    margin-left: 250px;

    border: solid 1px gray;
    border-radius: 10px;

    background-color: rgba(0,0,0,.9);
    filter: opacity(90%);

}

div.apresentacoes div.titulo {
    border: solid 1px gray;
    border-radius: 10px;
    color: white;
    text-align: center;
}

section {
    padding-top: 50px;
    color: white;
    padding-left: 20px;
    padding-right: 20px;

}

footer {
    /*background: burlywood;*/
    text-align: center;
    color: white;
    margin-top: 300px;
}

footer table {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

footer table tr td a {
    text-decoration: none;
    color: white;
}